.grid-line {
  position: fixed;
  z-index: 2;
  left: 60px;
  right: 60px;
  top: 0;
  bottom: 0;
  display: flex;
  gap: 8px;
  pointer-events: none;
}

.line {
  width: 25%;
  height: 100%;
  border-left: 1px solid var(--darkgrey);
  border-right: 1px solid var(--darkgrey);
}

@media (max-width: 1080px) {
  .grid-line {
    z-index: 2;
    left: 0px;
    right: 0px;
  }
}

@media (max-width: 900px) {
  .line:not(.line1, .line2, .borda-section .line) {
    display: none;
  }

  .line {
    width: 0%;
  }

  .grid-line {
    left: 48px;
  }
}

@media (max-width: 600px) {
  .grid-line {
    left: 8px;
  }
}

.borda-section {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: -60px;
  gap: 8px;
}

.borda-section .line {
  width: 100%;
  height: var(--gutter);
  border-top: 1px solid var(--darkgrey);
  border-bottom: 1px solid var(--darkgrey);
}

@media (max-width: 1080px) {
  .borda-section {
    left: 0px;
    right: 0px;
  }
}
